
{% extends 'main.html' %}

{% block content %}

<style>
    .main-container {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    .topics-names {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
</style>

<div class="main-container">

    <div class="topics-section">
        {% include 'topics-component.html' %}
    </div>


    <div class="rooms-section">

        <h1>home page</h1>

        <div>
            <a href="{% url 'create-room' %}">Create Room</a>
            <h3>{{room_count}} rooms is avaliable</h3>
            <hr>
        </div>

        <div>
            {% include 'feed-component.html' %}
        </div>

    </div>


    <div class="activity-section">
        {% include 'activity-component.html' %}
    </div>


</div>
{% endblock %}