# Python cache
__pycache__/
*.py[cod]
*.log

# Virtual environments
env/
venv/
.venv/
ENV/
.env

# OS files
.DS_Store
Thumbs.db

# Static & collected files
staticfiles/

# VSCode settings (optional)
.vscode/

# SQLite backup files
*.sqlite3-journal